# Supabase Project Credentials
# Replace these values with your actual credentials from Project Settings -> API
EXPO_PUBLIC_SUPABASE_URL=https://yizxbjwbkkjxsnnbwowy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_4s4kd_rpAirNtawgJ3LFCA_70f9segU


#EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4s4kd_rpAirNtawgJ3LFCA_70f9segU


#  DB_PASS=BloomDB@2026